{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "es6": true
  },
  "plugins": [
    "react",
    "react-native"
  ],
  "extends": [/*"eslint:recommended",*/"eslint:all","plugin:react-native/all"]
}